<br/><hr/><ul>
	<li>date time 2019-Jul-23 14:07</li>
	<li>error msg: [0] No application encryption key has been specified. on line 1041 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Support/helpers.php</li>
	<li>Controller  url: http://localhost/erb_payment/login</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-23 14:07</li>
	<li>error msg: [0] No application encryption key has been specified. on line 1041 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Support/helpers.php</li>
	<li>Controller  url: http://localhost/erb_payment/login</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-23 14:07</li>
	<li>error msg: [0] No application encryption key has been specified. on line 1041 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Support/helpers.php</li>
	<li>Controller  url: http://localhost/erb_payment</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-23 14:07</li>
	<li>error msg: [0] No application encryption key has been specified. on line 1041 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Support/helpers.php</li>
	<li>Controller  url: http://localhost/erb_payment</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-23 14:07</li>
	<li>error msg: [0] No application encryption key has been specified. on line 1041 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Support/helpers.php</li>
	<li>Controller  url: http://localhost/erb_payment</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-23 14:07</li>
	<li>error msg: [0] No application encryption key has been specified. on line 1041 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Support/helpers.php</li>
	<li>Controller  url: http://localhost/erb_payment</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-23 14:07</li>
	<li>error msg: [0] No application encryption key has been specified. on line 1041 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Support/helpers.php</li>
	<li>Controller  url: http://localhost/erb_payment</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-23 14:07</li>
	<li>error msg: [0] No application encryption key has been specified. on line 1041 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Support/helpers.php</li>
	<li>Controller  url: http://localhost/erb_payment</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-23 15:07</li>
	<li>error msg: [0] No application encryption key has been specified. on line 1041 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Support/helpers.php</li>
	<li>Controller  url: http://localhost/erb_payment</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-23 15:07</li>
	<li>error msg: [0] No application encryption key has been specified. on line 1041 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Support/helpers.php</li>
	<li>Controller  url: http://localhost/erb_payment</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-23 15:07</li>
	<li>error msg: [0] The given data was invalid. on line 45 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Foundation/Validation/ValidatesRequests.php</li>
	<li>Controller  url: http://localhost/erb_payment/booking</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-23 15:07</li>
	<li>error msg: [0] The given data was invalid. on line 45 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Foundation/Validation/ValidatesRequests.php</li>
	<li>Controller  url: http://localhost/erb_payment/booking</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-23 01:07</li>
	<li>error msg: [0] The given data was invalid. on line 133 of file C:\xampp\htdocs\erb_payment\vendor\laravel\framework\src\Illuminate\Foundation\Auth\AuthenticatesUsers.php</li>
	<li>Controller  url: http://localhost/erb_payment/login</li>
	<li>Error from which host: INETS-COMPANY</li>
</ul>

