<br/><hr/><ul>
	<li>date time 2019-Jul-25 10:07</li>
	<li>error msg: [0] Method Illuminate\Validation\Validator::validatePhone does not exist. on line 365 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Validation/Validator.php</li>
	<li>Controller  url: http://localhost/erb_payment/booking</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-25 10:07</li>
	<li>error msg: [0] Method Illuminate\Validation\Validator::validatePhone does not exist. on line 365 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Validation/Validator.php</li>
	<li>Controller  url: http://localhost/erb_payment/booking</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-25 10:07</li>
	<li>error msg: [0] Method Illuminate\Validation\Validator::validatePhone does not exist. on line 365 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Validation/Validator.php</li>
	<li>Controller  url: http://localhost/erb_payment/booking</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-25 10:07</li>
	<li>error msg: [0] The given data was invalid. on line 45 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Foundation/Validation/ValidatesRequests.php</li>
	<li>Controller  url: http://localhost/erb_payment/booking</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-25 10:07</li>
	<li>error msg: [0] The given data was invalid. on line 45 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Foundation/Validation/ValidatesRequests.php</li>
	<li>Controller  url: http://localhost/erb_payment/booking</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-25 10:07</li>
	<li>error msg: [0] The given data was invalid. on line 45 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Foundation/Validation/ValidatesRequests.php</li>
	<li>Controller  url: http://localhost/erb_payment/booking</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-25 10:07</li>
	<li>error msg: [0] The given data was invalid. on line 45 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Foundation/Validation/ValidatesRequests.php</li>
	<li>Controller  url: http://localhost/erb_payment/booking</li>
	<li>Error from which host: YLA-MacBook-Pro</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Jul-25 11:07</li>
	<li>error msg: [0] The given data was invalid. on line 45 of file /Applications/XAMPP/xamppfiles/htdocs/erb_payment/vendor/laravel/framework/src/Illuminate/Foundation/Validation/ValidatesRequests.php</li>
	<li>Controller  url: http://localhost/erb_payment/booking</li>
	<li>Error from which host: YLA-MacBook-Pro.local</li>
</ul>

