<br/><hr/><ul>
	<li>date time 2019-Aug-09 16:08</li>
	<li>error msg: [0] The given data was invalid. on line 133 of file C:\xampp\htdocs\erb_payment\vendor\laravel\framework\src\Illuminate\Foundation\Auth\AuthenticatesUsers.php</li>
	<li>Controller  url: http://localhost/erb_payment/login</li>
	<li>Error from which host: INETS-COMPANY</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Aug-09 17:08</li>
	<li>error msg: [7] SQLSTATE[08006] [7] fe_sendauth: no password supplied (SQL: select * from "users" where "id" = 1 limit 1) on line 624 of file C:\xampp\htdocs\erb_payment\vendor\laravel\framework\src\Illuminate\Database\Connection.php</li>
	<li>Controller  url: http://localhost/erb_payment/user/invite</li>
	<li>Error from which host: INETS-COMPANY</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Aug-09 17:08</li>
	<li>error msg: [7] SQLSTATE[08006] [7] fe_sendauth: no password supplied (SQL: select * from "settings" limit 1) on line 624 of file C:\xampp\htdocs\erb_payment\vendor\laravel\framework\src\Illuminate\Database\Connection.php</li>
	<li>Controller  url: http://localhost/erb_payment/invoice</li>
	<li>Error from which host: INETS-COMPANY</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Aug-09 17:08</li>
	<li>error msg: [7] SQLSTATE[08006] [7] fe_sendauth: no password supplied (SQL: select * from "settings" limit 1) on line 624 of file C:\xampp\htdocs\erb_payment\vendor\laravel\framework\src\Illuminate\Database\Connection.php</li>
	<li>Controller  url: http://localhost/erb_payment/invoice/bulk</li>
	<li>Error from which host: INETS-COMPANY</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Aug-09 17:08</li>
	<li>error msg: [7] SQLSTATE[08006] [7] fe_sendauth: no password supplied (SQL: select * from "settings" limit 1) on line 624 of file C:\xampp\htdocs\erb_payment\vendor\laravel\framework\src\Illuminate\Database\Connection.php</li>
	<li>Controller  url: http://localhost/erb_payment/invoice</li>
	<li>Error from which host: INETS-COMPANY</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Aug-09 17:08</li>
	<li>error msg: [7] SQLSTATE[08006] [7] fe_sendauth: no password supplied (SQL: select * from "users" where "id" = 1 limit 1) on line 624 of file C:\xampp\htdocs\erb_payment\vendor\laravel\framework\src\Illuminate\Database\Connection.php</li>
	<li>Controller  url: http://localhost/erb_payment/user/applicants</li>
	<li>Error from which host: INETS-COMPANY</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Aug-09 17:08</li>
	<li>error msg: [7] SQLSTATE[08006] [7] FATAL:  database "port=5432" does not exist (SQL: select * from "settings" limit 1) on line 624 of file C:\xampp\htdocs\erb_payment\vendor\laravel\framework\src\Illuminate\Database\Connection.php</li>
	<li>Controller  url: http://localhost/erb_payment/invoice</li>
	<li>Error from which host: INETS-COMPANY</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Aug-09 17:08</li>
	<li>error msg: [7] SQLSTATE[08006] [7] FATAL:  database "other_app" does not exist (SQL: select * from "settings" limit 1) on line 624 of file C:\xampp\htdocs\erb_payment\vendor\laravel\framework\src\Illuminate\Database\Connection.php</li>
	<li>Controller  url: http://localhost/erb_payment/invoice</li>
	<li>Error from which host: INETS-COMPANY</li>
</ul>

<br/><hr/><ul>
	<li>date time 2019-Aug-09 17:08</li>
	<li>error msg: [7] SQLSTATE[08006] [7] FATAL:  database "inets" does not exist (SQL: select * from "settings" limit 1) on line 624 of file C:\xampp\htdocs\erb_payment\vendor\laravel\framework\src\Illuminate\Database\Connection.php</li>
	<li>Controller  url: http://localhost/erb_payment/invoice</li>
	<li>Error from which host: INETS-COMPANY</li>
</ul>

